.brand-logo {
  font-weight: 700;
}

.hello-user {
  font-size: 4rem;
}

.hello-user-name {
  font-size: 3rem;
  color: rgb(106, 154, 226);
  font-weight: 700;
}

.navigation {
  background-color: #496ad8;
}
