.custom-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 400px;
  border: 1px solid rgb(66, 62, 62);
  border-radius: 5px;
  padding: 3rem 2rem;
  & button {
    width: 80%;
    margin-left: auto;
  }
  & .button {
    padding-top: 3rem;
  }
  & .return-button {
    margin-top: -30px;
    margin-bottom: 35px;
    width: 35%;
    & button {
      display: flex;
      justify-content: center;
      align-content: center;
color: rgb(42, 44, 153);
      box-shadow: none;
    }
    & i {
      color: rgba(22, 102, 223, 0.993);
      font-weight: 700;
    }
  }
}

.checkout-form {
  z-index: 1000;
  position: fixed;
  top: 40%;
  left: 30%;
}
